<?xml version="1.0" encoding="UTF-8"?>
<web-app>
<servlet>
<servlet-name>Adminlogin</servlet-name>
<servlet-class>com.data.Adminlogin</servlet-class>


</servlet>
<servlet-mapping>

<servlet-name>Adminlogin</servlet-name>
<url-pattern>/Adminlogin</url-pattern>



</servlet-mapping>
<servlet>
<servlet-name>Changepass</servlet-name>
<servlet-class>com.data.Changepass</servlet-class>


</servlet>
<servlet-mapping>

<servlet-name>Changepass</servlet-name>
<url-pattern>/Changepass</url-pattern>



</servlet-mapping>

<servlet>
<servlet-name>OTP</servlet-name>
<servlet-class>com.data.OTP</servlet-class>
</servlet>
<servlet-mapping>

<servlet-name>OTP</servlet-name>
<url-pattern>/OTP</url-pattern>



</servlet-mapping>



<servlet>
<servlet-name>ChangepassSales</servlet-name>
<servlet-class>com.data.ChangepassSales</servlet-class>


</servlet>
<servlet-mapping>

<servlet-name>ChangepassSales</servlet-name>
<url-pattern>/ChangepassSales</url-pattern>



</servlet-mapping>


<servlet>
<servlet-name>Billpayment</servlet-name>
<servlet-class>com.data.Billpayment</servlet-class>


</servlet>
<servlet-mapping>

<servlet-name>Billpayment</servlet-name>
<url-pattern>/Billpayment</url-pattern>



</servlet-mapping>


<servlet>
<servlet-name>Carddata</servlet-name>
<servlet-class>com.data.Carddata</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>Carddata</servlet-name>
<url-pattern>/Carddata</url-pattern>



</servlet-mapping>

<servlet>
<servlet-name>TransactionDetailstwo</servlet-name>
<servlet-class>com.data.TransactionDetailstwo</servlet-class>


</servlet>
<servlet-mapping>

<servlet-name>TransactionDetailstwo</servlet-name>
<url-pattern>/TransactionDetailstwo</url-pattern>



</servlet-mapping>
<servlet>
<servlet-name>BillpaymentNew</servlet-name>
<servlet-class>com.data.BillpaymentNew</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>BillpaymentNew</servlet-name>
<url-pattern>/BillpaymentNew</url-pattern>
</servlet-mapping>


</web-app>